<div class="panel" [@panel]="state">
    <span *ngIf="state"
          class="close_panel"
          (click)="hidePanel()">
        &times;
    </span>
    <table *ngIf="data.length > 0">
        <thead>
        <tr>
            <th>Автор вопроса</th>
            <th>Тема</th>
            <th>Кол-во ответов</th>
            <th>Теги</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let question of data">
            <td>
                {{ question.owner.name }}
            </td>
            <td>
                {{ question.title }}
            </td>
            <td>
                {{ question.answer_count }}
            </td>
            <td>
                <span *ngFor="let tag of question.tags">
                    {{ tag }}
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <p *ngIf="data.length === 0">Ничего не найдено.</p>
</div>