.panel {
    position: fixed;
    box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .5);
    background-color: #fff;
    z-index: 200;
    height: 400px;
    width: 100%;
    left: 0;
    padding: 17px;
}

.close_panel {
    position: absolute;
    top: -40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: red;
    font-size: 30px;
    right: 17px;
    cursor: pointer;
}