<div class="page_middle">
    <h1>Восстановление пароля</h1>
    <form
            class="auth_form"
            *ngIf="!emailSent"
            [formGroup]="recoveryForm"
            (ngSubmit)="send()">
        <label>
            E-mail:
            <input
                    formControlName="email"
                    [ngClass]="{'invalid': recoveryForm.get('email').invalid && recoveryForm.get('email').touched}"
                    type="email">
            <span
                    class="error"
                    *ngIf="recoveryForm.get('email').invalid && recoveryForm.get('email').touched"
            >
        <span *ngIf="recoveryForm.get('email').errors['required']">Email не должен быть пустым</span>
        <span *ngIf="recoveryForm.get('email').errors['email']">Введите корректный email адрес</span>
      </span>
        </label>
        <button
                [disabled]="recoveryForm.invalid || recoveryForm.disabled"
                type="submit"
                class="primary">
            восстановить пароль
        </button>
    </form>
    <div *ngIf="emailSent">
        <p>Письмо отправлено на Ваш email.</p>
        <p>Пожалуйста, проверьте Вашу почту.</p>
    </div>
</div>