<div class="page_middle">
    <h2>Изменение пароля</h2>
    <form
            class="auth_form"
            [formGroup]="passwordForm"
            (ngSubmit)="send()">
        <label>
            Придумайте новый пароль:
            <input
                    formControlName="password"
                    [ngClass]="{'invalid': passwordForm.get('password').invalid && passwordForm.get('password').touched}"
                    type="password">
            <span
                    class="error"
                    *ngIf="passwordForm.get('password').invalid && passwordForm.get('password').touched"
            >
        <span *ngIf="passwordForm.get('password').errors['required']">Поле не должно быть пустым</span>
        <span *ngIf="passwordForm.get('password').errors['minlength'] && passwordForm.get('password').errors['minlength']['requiredLength']">
          Пароль должен быть больше {{passwordForm.get('password').errors['minlength']['requiredLength']}} символов.
          Сейчас {{passwordForm.get('password').errors['minlength']['actualLength']}}
        </span>
      </span>
        </label>
        <label>
            Повторите пароль:
            <input
                    formControlName="passwordConfirm"
                    compare="password"
                    [ngClass]="{'invalid': passwordForm.get('passwordConfirm').invalid && passwordForm.get('passwordConfirm').touched}"
                    type="password">
            <span
                    class="error"
                    *ngIf="passwordForm.get('passwordConfirm').invalid && passwordForm.get('passwordConfirm').touched"
            >
        <span *ngIf="passwordForm.get('passwordConfirm').errors['required']">
            Поле не должно быть пустым
        </span>
        <span *ngIf="passwordForm.get('passwordConfirm').errors['compare']">
            Значение не совпадает с полем Пароль
        </span>
      </span>
        </label>
        <button
                [disabled]="passwordForm.invalid || passwordForm.disabled"
                type="submit"
                class="primary">
            Сохранить
        </button>
    </form>
</div>