nav {
    height: 50px;
    line-height: 50px;
    background: #1E1C1C;
    z-index: 5;
    padding: 0 20px;
    position: relative;
}

ul.auth {
    float: right;
}

ul.main_menu {
    float: left;
}

li {
    list-style: none;
    padding: 0 10px;
    float: left;
}

a {
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    transition: color .3s ease;
}

a:hover {
    text-decoration: none;
    color: #6abc65;
}