<div class="nav_page_wrapper">
    <a routerLink="/search/posts"
       class="nav_btn btn">
        к результатам поиска
    </a>
</div>
<div class="content shadow_box">
    <div *ngIf="answers.length > 0 && !preloader">
        <h1>Ответы на вопрос</h1>
        <ul>
            <li *ngFor="let answer of answers">
                <p>Автор: <b>{{ answer.owner_name }}</b></p>
                <p>Дата и время ответа: {{ answer.creation_date | date:'dd.MM.yyyy HH:mm'}}</p>
                <a [href]="answer.link" class="link" target="_blank">Посмотреть ответ</a>
            </li>
        </ul>
    </div>
    <p *ngIf="answers.length === 0 && !preloader">Ответов по этой теме нет</p>
    <preloader *ngIf="preloader"></preloader>
</div>