input {
    margin: 5px 0;
    width: 100%;
}

input.invalid {
    border: 1px solid red;
}

label {
    margin-bottom: 15px;
    display: block;
}

.error {
    font-size: .7em;
    color: red;
    display: block;
}